.HeroContainer {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    'HeroContent HeroImage'
    'CallToActions HeroImage';
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-color: #2b3137;
  overflow: hidden;
  padding: 10px;
}

.HeroContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 10px 0px;
  grid-template-areas:
    'HeroTitle'
    'HeroDescription';
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  grid-area: HeroContent;
}

.HeroTitle {
  grid-area: HeroTitle;
  color: var(--ifm-color-primary);
  font-size: 50px;
  text-transform: uppercase;
}

.HeroDescription {
  grid-area: HeroDescription;
  color: #fff;
  font-size: 30px;
}

.CallToActions {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    'ctaButtons'
    'SocialButtons';
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
  grid-area: CallToActions;
}

.ctaButtons {
  grid-area: ctaButtons;
  text-transform: uppercase;
}

.ctaButtons a {
  margin: 5px;
}

.SocialButtons {
  grid-area: SocialButtons;
}

.SocialButtons span {
  padding: 5px;
}

.HeroImage {
  animation-duration: 2s;
  animation-name: jackInTheBox;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-area: HeroImage;
}

.HeroLogo {
  width: 85%;
  height: 100%;
  padding: 10px;
  object-position: center;
  object-fit: fill;
  border-radius: 10%;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (max-width: 900px) {
  .HeroContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.33fr 0.33fr 0.33fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      'HeroImage'
      'HeroContent'
      'CallToActions';
  }

  .HeroImage {
    justify-self: stretch;
    align-self: stretch;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-area: HeroImage;
  }

  .HeroContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      'HeroTitle'
      'HeroDescription';
    justify-self: center;
    padding-right: 10px;
    grid-area: HeroContent;
  }

  .HeroTitle {
    justify-self: center;
    align-self: center;
    font-size: 30px;
    grid-area: HeroTitle;
  }

  .HeroDescription {
    align-self: center;
    font-size: 20px;
    grid-area: HeroDescription;
  }

  .CallToActions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      'ctaButtons'
      'SocialButtons';
    justify-self: center;
    grid-area: CallToActions;
    margin: 0;
    padding: 0;
    font-size: 30px;
  }

  .ctaButtons {
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    grid-area: ctaButtons;
  }

  .SocialButtons {
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    grid-area: SocialButtons;
  }
}
