/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroProfile {
  text-align: center;
}

.heroImage {
  object-fit: cover;
  object-position: 100% 0%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
